body {
  font-family: Arial, Helvetica, sans-serif;
}
.closebtn {
  display: none;
}
.openbtn {
  display: none;
}
@media screen and (max-width: 992px) {
  .openbtn {
    display: block;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(11, 51, 31, 0.7);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    display: block;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    font-weight: bold;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 8px;
    text-decoration: none;
    font-size: x-large;
    color: #f8f9fa;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}
@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
